*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Aplico estilos generales */

html{ scroll-behavior: smooth;}

body{
    font-family: 'Roboto', sans-serif;
}

h1{ font-size: 2em; }
h2{ font-size: 1.5em; }
h3{ font-size: 1.25em; }
ul{ list-style: none; }
li{ font-size: 1em;}
p{
    font-size: 1em;
    margin-left: 5%;
    margin-right: 5%;
}

.boton{ 
    font-size: 1.5em;
    font-weight: bold;
    padding: 5px 5px;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
    color: white;
    background-color: black;
    cursor: pointer;
}

.boton a{ 
    color: white;
}

a{
    color: blueviolet;
}

.boton:hover{
    background-color: blueviolet;
}


/* Estilo al headear */

.container{
    max-width: 1400px;
    margin: auto
}

header{
    background-color: rgb(20, 20, 20);
    display: block;
}

header .container{
    display: flex;
    justify-content: space-between;
}

.container .logo{
    color: white;
    padding: 5px 5x;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

header nav{
    display: flex;
    padding: 5px 5px;
    text-align: center;
}

header li{
    padding-bottom: 5px;
}

header a{
    text-decoration: none;
    color: white;
}

/* Estilo a la primer seccion */

.dina{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgb(0,0,0,0.5),
        rgb(0,0,0,0.5)
    )
    ,url("imagenes/fondoDinaNuevo.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}

.dina h1{
    padding: 20px 20px;
}

/* Estilo a la segunda seccion */

#nosotros{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    height: 70vh;
    color: black;
}

.descripcion{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin-bottom: 10%;
}

/* Estilo a la segunda seccion */

#nuestra-carta{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    color: white;
    background-color: rgb(40, 40 ,40);
    height: 30%;
}

#nuestra-carta p{
    display: none;
}

#visitanos p{
    display: none;
}

.carta{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    margin: 5%;
}

.vinos{
    background-image: linear-gradient(
        0deg,
        rgb(0,0,0,0.5),
        rgb(0,0,0,0.5)
    )
    ,url("imagenes/Vino.JPG");
}

.cocktails{
    background-image: linear-gradient(
        0deg,
        rgb(0,0,0,0.5),
        rgb(0,0,0,0.5)
    )
    ,url("imagenes/Foto4.JPG");
}

.platos{
    background-image: linear-gradient(
        0deg,
        rgb(0,0,0,0.5),
        rgb(0,0,0,0.5)
    )
    ,url("imagenes/Plato.JPG");
}

.vinos h2{
    margin-top: 20px;
    margin-bottom: 20px;
}
.cocktails h2{
    margin-top: 20px;
    margin-bottom: 20px;
}
.platos h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilo a Visitanos */

#visitanos{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    height: 80vh;
    color: white;
    background-color: rgb(70, 43, 60);
}

.ubicacion h1{
    padding: 100px;
}

/* Estilo Footer */

footer{
    display: flex;
    justify-content: center;
}

footer h3{
    font-style: italic;
    font-size: 0.8em;
}

/* Agrego estilos a Galeria */

.seccion1{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    color: white;
    background-color: rgb(40, 40 ,40);
    height: 30%;
}

.box{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 70vh;
    margin: 5%;
}

.box1{
    background-image: linear-gradient(
        0deg,
        rgb(0,0,0,0.5),
        rgb(0,0,0,0.5)
    )
    ,url("imagenes/Foto1.JPG");
}

.box2{
    background-image: linear-gradient(
        0deg,
        rgb(0,0,0,0.5),
        rgb(0,0,0,0.5)
    )
    ,url("imagenes/Foto2.JPG");
}

.box3{
    background-image: linear-gradient(
        0deg,
        rgb(0,0,0,0.5),
        rgb(0,0,0,0.5)
    )
    ,url("imagenes/Foto3.JPG");
}

.box4{
    background-image: linear-gradient(
        0deg,
        rgb(0,0,0,0.5),
        rgb(0,0,0,0.5)
    )
    ,url("imagenes/Foto4.JPG");
}

.box5{
    background-image: linear-gradient(
        0deg,
        rgb(0,0,0,0.5),
        rgb(0,0,0,0.5)
    )
    ,url("imagenes/Foto5.JPG");
}

.box6{
    background-image: linear-gradient(
        0deg,
        rgb(0,0,0,0.5),
        rgb(0,0,0,0.5)
    )
    ,url("imagenes/Foto6.JPG");
}

.box p{
    display: none;
}
.box h2{
    display: none;
}

.galeria-tentada{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    height: 80vh;
    color: white;
    background-color: rgb(70, 43, 60);
}

.tentada-ubicacion h1{
    padding: 100px;
}

@media (min-width: 720px){
    /* Media Query Index */
    header{
        width: 100%;
        position: fixed;
        z-index: 100;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
    }

    header nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    nav ul{
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }

    nav ul a{
        margin-right: 10px;
        margin-left: 10px;
    }

    #nuestra-carta{
        display: grid;
    }
    
    .listado-cartas{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .carta{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 5%;
    }
    
    #nuestra-carta p{
        display: contents;
        margin-left: 5%;
        margin-right: 5%;
        
    }

    /* Media query de galeria */

    .seccion1{
        display: grid;
    }

    .galeria-tragos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-top: 5%;
    }

    .box p{
        display: contents;
        margin-left: 5%;
        margin-right: 5%;
    }
}



